body{
  /* background: #f8f8f8; */
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ba-videorecorder-theme-modern-container{
  width: 100% !important;
  height: auto !important;
}
.recorderVideo{
  position: relative;
}
.recorderBg{
  background: url(./assets/images/mic.png) no-repeat top center;
  background-size: contain;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 300px;
  bottom: 115px;
  left: 0;
  right: 0;
}
.ba-videoplayer-theme-modern-container{
  width: 100% !important;
  height: auto !important;
}
.ba-videorecorder-theme-modern-dashboard{
  z-index: 15;
  background: #61dafb;
}